h1 {
    color: #213547;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 6px;
    outline: 1px solid gray;
    width: 1fr;
}

.cvContainer {
    display: flex;
    flex-direction: column;
    outline: 1px solid blue;
}