body {
    background-color: rgb(243, 241, 238);
}

textarea:focus, input:focus {
    outline: none;
}

::-webkit-resizer {
  display: none;
}

.container {
    display: grid;
    grid-template-columns: auto 8.5in;
}

.rightColumn {
    font-family: sans-serif;
    background-color: white;
    box-shadow: 0px 0px 26px 0px rgba(222,224,224,1);
    height: 11in;
}

/* ------- View containers ---*/
.BasicInfoView {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 35, 76);
    color: white;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.BasicInfoView h1{
    margin: 0px;
}


.EducationInfoView {
    background-color: white;
    padding: 0 4%;
}

.EduationInfoViewHeader {
    display: grid;
}

.EducationInfoView h2 {
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 4px;
    color: rgb(34, 34, 34);
    justify-self: center;
}

.EducationInfoViewBody {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
}

.EducationInfoViewBodyLeft {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.EducationInfoViewBodyRight {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.EducationInfoViewBody p{
    margin: 0px;
    margin-bottom: 5px;
}

.EducationInfoViewBody b{
    margin: 0px;
    margin-bottom: 5px;
}

/* Experience */
.ExperienceContainer {
    font-family: sans-serif;
    padding: 0 4%;
    background-color: white;
}

.ExperienceContainer-header h2{
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 4px;
    color: rgb(34, 34, 34);
    justify-self: center;
}

.ExperienceItem {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-gap: 4.5%;
}

.ExperienceItem p{
    margin: 0px;
    margin-bottom: 1.4%;
}

.ExperienceItem-description {
    color:rgb(29, 28, 28);
    text-align: justify;
    line-height: 1.35;
}



/* -------- Input containers */
.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26%;
}

.leftColumn b {
    font-size: 1.15rem;
}

.inputEditor{
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid white; 
    border-radius: 0.5rem;
    padding: 10px 5% 15px;
    width: 55%;
    background-color: white;
    display: grid;
    grid-row-gap: 10px;
    box-shadow: 0px 0px 26px 0px rgba(222,224,224,1);
}

.inputEditor-input {
    border-radius: 0.8rem;
    border: 1px solid white;
    background-color: rgb(243, 244, 246);
    width: 95%;
    height: 2.3rem;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0px 0.5rem;
    font-size: 0.9rem;
}

.inputEditor-input.inputEditor-textarea {
    padding: 8px;
}

.inputEditor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inputEditor-addExperience-bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.inputEditor-header i:last-child{
    margin-top: 3px;
    margin-left: 10px;
    color: rgb(32, 14, 50);
}

.inputEditor h2{
    color: rgb(32, 14, 50);
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

.inputEditor i{
    margin-right: 10px;
}

.inputEditor-addExperience {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 70%;
}

.inputEditor-addExperience button{
    border: 3px solid rgb(238, 240, 244);
    color: rgb(32, 14, 50);
    border-radius: 0.95rem;
    width: 100%;
    height: 130%;
    background-color: white;
    font-weight: 700;
    font-size: 0.95rem;
    cursor: pointer;
}

.inputEditor-button-cancel {
    width: 40%;
    border: 0px;
    background-color: rgb(248, 245, 245);
    padding: 15px 25px;
    margin: 10px;
    border-radius: 2.3rem; 
    background-size: 200% auto;
    font-size: 0.8rem;
    font-weight: 700;
    color:rgb(12, 39, 65);
    cursor: pointer;
}

.inputEditor-button-save {
    width: 45%;
    border: 0px;
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    margin: 10px;
    padding: 15px 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 2.3rem; 
    display: block;
    font-size: 0.8rem;
    cursor: pointer;
}

.inputEditor-button-save:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
         
.ExperienceItemEdit {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(243, 239, 239);
    margin-bottom: 10px;
}

.ExperienceItemEdit i{
    justify-self: end;
}